html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;

  @media screen and (map-get($media, 'small-desktop')) {
    font-size: 120%;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing / 2;
}

h1 {
  font-size: modular-scale(6);
}

h2 {
  font-size: modular-scale(5);
}

h3 {
  font-size: modular-scale(4);
}

h4 {
  font-size: modular-scale(3);
}

h5 {
  font-size: modular-scale(2);
}

h6 {
  font-size: modular-scale(1);
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

.dropcap {
  color: $action-color;
  background-image: linear-gradient(0deg, darken($action-color, 10%), lighten($action-color, 20%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  float: left;
  font-size: 4.6em;
  line-height: 0.7;
  padding-right: 10px;
  padding-top: 14px;
  font-weight: bold;
}
