// Typography
$base-font-family: 'Merriweather', serif;
$heading-font-family: 'Lato', sans-serif;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$purple: #77448B;
$dark-gray: #3D3D3D;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $purple;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Grid
$susy: (
  'columns': susy-repeat(12),
  'spread': 'narrow',
  'container-spread': 'narrow',
);

$media: (
  'mobile-down'       : 'max-width: #{(479 / 16)}em',
  'tablet'            : 'min-width: #{(480 / 16)}em',
  'tablet-down'       : 'max-width: #{(767 / 16)}em',
  'small-desktop'     : 'min-width: #{(768 / 16)}em',
  'small-desktop-down': 'max-width: #{(1199 / 16)}em',
  'desktop'           : 'min-width: #{(1200 / 16)}em',
);
