.page {
	@at-root &__header {
		background-image: url(../../assets/images/header.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: ((150 / 1440) * 100%);
		position: relative;

		&:after {
			content: '';
			display: block;
			padding-top: ((modular-scale(-3, 1440px, $golden) / 1440px) * 100%);

			@media screen and (map-get($media, 'small-desktop')) {
				padding-top: ((modular-scale(-4, 1440px, $golden) / 1440px) * 100%);
			}
		}
	}

	@at-root &__content {
		// background: susy-svg-grid() no-repeat scroll;
		margin: 0 auto;
		max-width: 37em;
		padding: 0 1em;
	}

	@at-root &__title {
		text-align: center;
	}

	@at-root &__footer {
		background: $dark-gray;
		color: contrast-switch($dark-gray);
	}
}

.avatar {
	bottom: 0;
	left: 50%;
	max-width: 300px;
	position: absolute;
	transform: translate(-50%, 50%);
	width: ((300px / 1440px) * 100%);

	@at-root &__image {
		border-radius: 500px;
		border: solid 5px #fff;
	}
}

.research-abstract {
	.inner {
		margin: 0 auto $base-spacing;
		max-width: 37em;
		padding: $small-spacing 1em;
	}

	&:nth-child(odd) {
		background: $light-gray;
	}
}

.page__content-abstract {
	max-width: none;
	padding: 0;
}

.menu {
	ul {
		display: flex;
		list-style: none;
		padding-left: 0;
		margin-bottom: $base-spacing;
	}

	li {
		flex: 1 1 auto;
	}
}

.page__content-abstract .menu {
	margin: 0 auto $base-spacing;
	max-width: 37em;
	padding: 0 1em;
}
